@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
html,
body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

body {
  visibility: hidden;
  font-size: 1.25rem;
  font-family: "Noto Sans", sans-serif;
}

::selection {
  background: #b4d5ff;
  text-shadow: none;
}

body {
  color: black;
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
  background: #ffffff;
  background-attachment: fixed;
  background-image: url("background.svg");
}

body.dark {
  color: white;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    1px 1px 0 #000;
  background: #10192d;
  background-attachment: fixed;
  background-image: url("background.svg");
}

p {
  font-size: 1rem;
}

dialog {
  text-shadow: none;
}

br {
  display: block;
  margin: 0.25rem 0;
  line-height: 0.25rem;
}

h1,
h3 {
  margin: 0px 0px 0px 0px;
}

td,
th {
  padding: 0 10px 0 10px;
}

#container {
  /* Center vertically and horizontally*/
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  /* Page 100% height (*1) */
  min-height: 100vh;
  max-width: 100%;
  /* max-height: 90vh; */
  /* Horizontal & vertical centering (*2) */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

#about-container {
  /* Center vertically and horizontally*/
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  /* Page 100% height (*1) */
  min-height: 100vh;
  max-width: 80%;
  /* max-height: 90vh; */
  /* Horizontal & vertical centering (*2) */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  text-align: justify;
}

label {
  vertical-align: middle;
}

#miner-id-label {
  display: block;
}

​ #miner-id,
a,
a:hover,
a:active,
a:visited,
a:focus {
  color: #6b70ff;
  text-decoration: none;
}

#miner-info-content {
  margin: 0 auto;
}

#miner-info-content td,
#miner-info-content th {
  padding: 0px 0px 0px 0px;
}

#hnt-stats td,
#hnt-stats th {
  padding: 0px 0px 0px 0px;
  width: 105.667px;
  height: 22px;
}

#hnt-stats {
  font-size: 1rem;
  table-layout: fixed;
  width: 325px;
  margin: 0 auto;
}

#miner-name {
  color: #6b70ff;
  width: 25ch;
}

.QRcode-frame {
  background: rgba(71, 77, 255, 0.8);
  padding: 7px 7px 7px 7px;
}

.dates-icons {
  display: inline-block;
  vertical-align: middle;
}

.mirrored {
  transform: scale(-1, 1);
}

#date-start,
#date-end,
#custom-label {
  vertical-align: middle;
  font-size: 18px;
}

#rewards-table {
  margin: 0 auto;
}

#custom-check {
  vertical-align: middle;
}

button {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  width: 7rem;
  background: #6b70ff;
  border-radius: 5px;
  color: white;
  border: 1px solid #a8ecd2;
  margin: 6px 6px;
  cursor: pointer;
}

select {
  background: #6b70ff;
  border-radius: 5px;
  color: white;
  border: 1px solid #a8ecd2;
  accent-color: #6b70ff;
}

select.dark {
  border: 1px solid #186254;
}

button.dark {
  border: 1px solid #186254;
}

input {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: inherit;
}

input[type="checkbox"]:checked {
  accent-color: #6b70ff;
}

input {
  accent-color: #6b70ff;
}

#copy-clip {
  cursor: default;
}

#loader {
  display: none;
  margin: 0 auto;
  vertical-align: middle;
  border: 0.4rem solid #f3f3f3;
  border-top: 0.4rem solid #6b70ff;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext,
.errortiptext {
  font-size: 0.75rem;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: None;
}

.tooltiptext::after,
.errortiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.floating-div {
  z-index: 9999;
  position: fixed;
  font-size: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  width: 45px;
  height: 45px;
  text-align: center;
  display: table;
}

.floating-icon {
  display: table-cell;
  vertical-align: middle;
  color: #6b70ff;
  cursor: pointer;
}

#theme-toggler-icon {
  color: black;
  text-shadow: unset;
}

#theme-toggler-icon,
#about-icon,
#totop-icon {
  text-shadow: none;
}

.accent {
  color: #6b70ff;
}

/* Toggle top buttons */
#theme-toggler {
  top: 10px;
  right: 10px;
}

#about-btn {
  top: 10px;
  left: 10px;
}

#totop-btn {
  bottom: 10px;
  right: 10px;
}

#qrcode {
  background: url("QRcode.svg");
  width: 100px;
  height: 100px;
}

/* collapsible */
details {
  text-align: center;
}

details > summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin: 0 auto;
}

details[open] summary span.icon {
  transform: rotate(360deg);
}

summary {
  cursor: pointer;
  width: 241px;
  margin: 0 auto;
}

summary::-webkit-details-marker {
  display: none;
}

details > summary {
  list-style: none;
}

#miner-info-content {
  font-size: 1rem;
}

.colored {
  color: #6b70ff;
}

#miner-selector {
  margin: 0 auto;
  text-align: center;
}

br {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.center {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  visibility: hidden;
}

.remove {
  display: none;
}

.flip {
  transform: scale(-1, 1);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.top-dollar {
  padding-top: 6px;
}

.bottom-dollar {
  margin-top: auto;
  padding-bottom: 8px;
}

.default-font {
  font-family: "Noto Sans", sans-serif;
}

.loading {
  position: relative;
  background: rgba(193, 199, 212, 0.34);
}

.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 0.8s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
